name: Deploy to Staging

on:
  workflow_call:
    inputs:
      namespace:
        required: true
        type: string
      deployment:
        required: true
        type: string
    secrets:
      KUBE_CONFIG:
        required: true

jobs:
  staging:
    runs-on: self-hosted
    environment:
      name: staging
    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Install kubectl
        uses: azure/setup-kubectl@v3
        id: install-kubectl

      - name: Set the Kubernetes context
        uses: azure/k8s-set-context@v3
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.KUBE_CONFIG }}

      - name: Deploy to the Kubernetes cluster
        run: |
          ${{ steps.install-kubectl.outputs.kubectl-path }} rollout restart deploy ${{ inputs.deployment }} -n ${{ inputs.namespace }}
